@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
/* font-family: 'Montserrat',sans-serif;
font-family: 'Roboto',sans-serif; */

.sidebar-wrapper{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100vh;
    background-color: #203D37;
    background-attachment: fixed;
    overflow: auto;
}
.fv-title{
    margin-top: 30px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.fv-title h2{
    color: #FFFFFF;
    font-size: 25.43px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
}

.fv-sidebar{}

.fv-sidebar .fv-bar{
    text-align: center;
    display: block;
    color: #FFFFFF;
    padding: 10px 0;
    text-decoration: none;
    margin-bottom: 15px;
}
.fv-sidebar .fv-bar span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 8px;
}
.fv-sidebar .fv-bar:focus{
    background-color: #2D524A;
}
.fv-bar:nth-child(2){
    margin-left: -30px;
}
.fv-bar:nth-child(3){
    margin-left: -30px;
}


